footer {
  display: flex;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 50px;
}

footer hr {
  width: 95%;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

#tagline {
  color: #f46524ff;
  margin: 0;
}

#githubLogo {
  width: 42px;
  height: 42px;
  color: white;
  padding-bottom: 1rem;
  margin: auto 0;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    footer ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0;
      padding: 0;
    }
}
